@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Pacifico&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.spin{
    animation: spin 30s linear infinite;
}